#bod {
    text-align: center;
    font-family: Montserrat;
    background-color: #e3e6e3;

}

#container {
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.results {
    position: relative;
}

.ttext {
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    top: 15px;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
}

.btext {
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    bottom: 30px;
    font-size: 20px;
    font-family: 'Anton', sans-serif;
}

.btn {
    background-color: #daab3f;
    border: none;
    padding: 15px 32px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Josefin Slab', serif;
}

.ln {
    background-color: #001c37;
    display: block;
    margin-left: auto;
    margin-right: auto:
    width: 100px;
}


.smallbtn {
    background-color: #daab3f;
    border: none;
    padding: 7px 15px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    font-family: 'Josefin Slab', serif;
}